.git
.github
.idea
.vscode
.DS_Store
.env
.env.*
!.env.example
.venv*
.lab-tools
**/__pycache__
**/*.py[cod]
.pytest_cache
**/*.egg-info
**/*.log
**/*.orig
**/*.backup
**/*.save
**/*.bak
**/*.pt
**/*.pth
**/*.onnx
**/*.zip
dtfm-*.tar
core
core.*
logs
trace_json
task_datasets/data
mlflow.db*
mlartifacts
mlruns
**/ipsec.secrets
**/*ipsec.secrets
dtfm-broken-backup.yml
dtfm-pip-backup.txt
